body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(180, 171, 159), rgb(61, 57, 57));
    border: 2px solid #000;
}

h1 {
    font-style: italic;
    color: rgb(0, 0, 0);
    border: 10px solid rgb(150, 0, 0);
    border-radius: 20px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    position: absolute;
    top: 46%;
    left: 73%;
    transform: translate(-50%, -50%);
    outline: 7px solid rgb(0, 0, 0);
    transform: scale();
    font-size: 7mm;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    padding: 29px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: borderSize 1.5s infinite;
}

.image-container {
    border: 5px solid #000; /* Adiciona uma borda de 5px de cor preta */
    padding: 5px; /* Espaço entre a borda e a imagem */
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 17%;
    animation: rgbBorder 1.7s infinite;
}

.imagem-container img {
    display: block;
}

@keyframes rgbBorder {
    0% {
        border-color: rgb(222, 222, 255);
    }
    25% {
        border-color: rgb(51, 0, 99);
    }
    50% {
        border-color: rgb(0, 88, 69);
    }
    75% {
        border-color: rgb(184, 156, 0);
    }
    100% {
        border-color: rgb(222, 222, 255);
    }
}

@keyframes borderSize {
    0% {
        outline-width: 7px;
        outline-offset: 5px;
    }
    50% {
        outline-width: 10px;
        outline-offset: 14px;
    }
    100% {
        outline-width: 7px;
        outline-offset: 5px;
    }
}